
<!-- <div>
  <h1>Choose or add your favorite quotes</h1>
  <p>This app gives you freedom to add or choose a {{ quote }}</p>
</div> -->
<app-quote></app-quote>
<div>
  <h1>Choose or add your favorite quotes</h1>
  <ul>
      <li *ngFor='let quotes of quote'>
        {{quote.name}}
      </li>
  </ul>
  <p *ngIf='quote.length > 5'>Your quotes are excess</p>
</div>
<!-- <app-quote></app-quote>
<div>
  <h1>Choose or add your favorite quotes</h1>
  <ul>
      <li *ngFor='let quotes of quote'>
        {{quote.name}}
      </li>
  </ul>
  <p *ngIf='quote.length > 5'>Your quotes are excess.</p>
</div> -->